{{ if .Params.showAuthor | default (.Site.Params.article.showAuthor | default true) }}
  <div class="author-footer">
    {{ $lazy := .Params.enableImageLazyLoading | default .Site.Params.enableImageLazyLoading | default true }}
    {{ $altText := (.Site.Language.Params.Author.name | default "Author") }}
    {{ with .Site.Language.Params.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $imgClass := "author-footer-img rounded-full" }}
        {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy) }}
      {{ end }}
    {{ end }}
    <div class="author-footer-name">
      {{ with .Site.Language.Params.Author.name | markdownify | emojify }}
        <span class="font-semibold text-neutral-800 dark:text-neutral-300">{{ . }}</span>
      {{ end }}
      <div class="author-footer-roles">
        Oracle DBA &amp; Performance Tuning · DWH Architect · PL/SQL Senior &amp; Mentor · AI Manager · Project Manager
      </div>
    </div>
  </div>
{{ end }}
