{{ define "main" }}
  <article class="max-w-full">
    <header>

      {{ with .Params.image }}
        {{ $img := . }}
        {{ with $.Resources.GetMatch $img }}
          <img
            src="{{ .RelPermalink }}"
            alt="{{ $.Title }}"
            class="mb-6 w-full rounded-2xl"
            loading="lazy"
          />
        {{ else }}
          <img
            src="{{ $img | relURL }}"
            alt="{{ $.Title }}"
            class="mb-6 w-full rounded-2xl"
            loading="lazy"
          />
        {{ end }}
      {{ end }}

      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
      {{ partial "article-meta.html" . }}
    </header>

    <div id="content" class="scroll-mt-28"></div>


    {{- with .Site.Params.author }}
    <div class="author-badge">
      {{- with .image }}
      <img src="{{ . | relURL }}" alt="{{ $.Site.Params.author.name }}" class="author-badge-avatar" />
      {{- end }}
      <span class="author-badge-name">{{ .name }}</span>
    </div>
    {{- end }}

    <section class="prose mt-6 max-w-full dark:prose-invert">
      {{ .Content | emojify }}
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}
